body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1919;
}

.menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu li{
    float: left;
}
.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
}
.menu li a:hover{
    background-color: #3f0064;
}
.active{
    background-color: #a30505;
    color: white;
}

.dados {
    margin: 10px;
    padding: 0px;
    display: block;
    /*flex-wrap: nowrap;*/
}

.dudu{
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    height: fit-content;
    width: fit-content;

;
}
.dudu img{
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 5px;
    border-radius: 30px;
}
.dudu h1{
    font-size: 50px;
    color: #fff;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.dudu h2{
    font-size: 25px;
    color: #fff;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.dudu p{
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin: 15px;
    padding: 0px;
}

.gustavo{
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    height: fit-content;
    width: fit-content;

}
.gustavo img{
    float: left;
    width: 200px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    border-radius: 30px;
}
.gustavo h1{
    font-size: 50px;
    color: #fff;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.gustavo h2{
    font-size: 25px;
    color: #fff;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.gustavo p{
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin: 15px;
    padding: 0px;
}

.sobre{
    margin: 10px;
    padding: 0px;
    display: block;
}
.gustavo_sobre{
    margin: 10px;
    padding: 0px;
    display: block;
    

}




.davi{
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    height: fit-content;
    width: fit-content;

}
.davi img{
    float: left;
    width: 200px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    border-radius: 30px;
}
.davi h1{
    font-size: 50px;
    color: #fff;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.davi h2{
    font-size: 25px;
    color: #fff;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.davi p{
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin: 15px;
    padding: 0px;
}

.sobre{
    margin: 10px;
    padding: 0px;
    display: block;
}
.gustavo_sobre{
    margin: 10px;
    padding: 0px;
    display: block;
    

}